.react-calendar {
  border: none;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background: white;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  color: #4b5563;
  text-align: center;
  margin-bottom: 0.5rem;
}

.react-calendar__tile {
  border-radius: 0.5rem;
  padding: 0.75rem 0;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 0.875rem;
    color: black;
}

.react-calendar__tile:enabled:hover {
  background: #e0f2fe;
  cursor: pointer;

}

.react-calendar__tile--active {
  background: yellow !important;
  color: black !important;
}

.react-calendar__tile--now {
  background: #dbeafe;
  font-weight: 600;
}
